body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    gap: 2px;
    margin: 20px auto;
    justify-content: center;
    background-color: #fff;
}

.celula {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
