body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    color: #444;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #0077cc;
}

select {
    padding: 5px;
    font-size: 16px;
}

#pontuacao {
    font-weight: bold;
    margin-top: 10px;
}

#tabuleiro {
    margin-top: 20px;
    border: 2px solid #0077cc;
    background-color: #fff;
    padding: 5px;
}

.celula {
    font-weight: bold;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    transition: background-color 0.2s;
}

.celula:focus {
    background-color: #e0f7fa;
    border-color: #0077cc;
}
